<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./bootstrap-5.2.0-dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/565aac5a3e.js" crossorigin="anonymous"></script>

    <title>BlackJack</title>
</head>
<body>
<!--layout-->
<header>
    <h1>BLACKJACK</h1>
</header>
<div id="app" class="container" >



    <div class="my-3" v-if="!isGameRunning" @click="startNewGame" >
        <button class="btn btn-primary">START THE GAME</button>
    </div>

    <div v-else >
        <!--dealer-->
        <div>

            <div v-if="!isGameEnded">
                <h1>Dealer</h1>
                <img src="./PNG/card_back.png" alt="0">
                <template v-for="card in dealerHand.slice(1)">
                    <img :src="getPath(card)" alt="">
                </template>
            </div>
            <div v-else>
                <h1>Dealer: {{dealerPoints}}</h1>
                <template v-for="card in dealerHand">
                    <img :src="getPath(card)" alt="">
                </template>
            </div>
        </div>

        <div id="msg-box">
            <h1>{{ middle_text }}</h1>
        </div>
        <!--player-->
        <div>
            <h1>You: {{playerPoints}}</h1>
            <template v-for="card in playerHand">
                <img :src="getPath(card)" alt="">
            </template>
            <!--buttons-->
            <div class="my-3" >
                <button v-if="!isGameEnded" @click="hit" class="btn btn-primary">HIT</button>
                <button v-if="!isGameEnded" @click="doubleDown" class="btn btn-secondary">DOUBLE DOWN</button>
                <button v-if="!isGameEnded" @click="stand" class="btn btn-danger">STAND</button>
                <button @click="clearAndStartNewGame" class="btn btn-success">NEW GAME</button>
                <button v-if="!isGameEnded" @click="quit" class="btn btn-secondary">QUIT</button>
                <div class="my-2" >
                    <h1>
                        Total Money: {{playerMoney}}
                        <i class="fa-solid fa-coins mr-5"></i>
                        Bet: {{playerBet}}
                        <i class="fa-solid fa-coins"></i>
                    </h1>
                </div>
        </div>

        </div>

    </div>

</div>
<script src="app.js"></script>

<script src="./bootstrap-5.2.0-dist/js/bootstrap.min.js"></script>
<script src="./bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js"></script>
<script src="./node_modules/jquery/dist/jquery.min.js"></script>
</body>

</html>