body{
    background-color: #1e1e1e;
    color: #fff;
}
header{
    text-align: center;
    height: 1rem;
}
header.h1{
    background-color:#fff;
    color: #1e1e1e;
}
#msg-box{
    padding: 10px 0;
    margin: 5px 0;
    text-align: center;
    border:2px solid #fff;
}
img{
    width:6.5rem;
}
#money_section{
    display: flex;
}
#buttons{
    display: block;
}
i{
    color:yellow;
}